<?xml version="1.0" encoding="UTF-8"?>

<beans>
	<!-- 모델 클래스 등록 되는 위치 확인 -->	
	
	<!-- 
	모델과 컴포넌트의 차이는 뭐니 ?
	
	뭘까........
	
	모델은 	  클래스
	컴포넌트 객체
	
	객체 -> 기능을 가지고 있는얘
	
	클래스 설계할때 그래서 모델링하라고 불라불라~
	모델링해 == 클래스 설계해
	
	컴포넌트 몇개 만들어봐 == 객체 생성하고 만들어봐 ?
	
	??
	면접가서 
	면접관들의 의도 > 
	단어를 몰라서 안됨 
	
	그래서 수습이있고 
	
	211.238.142.76
	 -->
	<context:component-scan base-package="com.sist.board"/>
</beans>